
body{
	overflow-x: hidden;


}




#bodyContent{
	display: none;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #000 /*#3498db*/;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.textAnime{
	position: absolute;
	top: 100px;
	font-weight: bold;
	color: #3498db;
}

#notifyMe{
	display: none; 
}

.aboutBody{
	height: 550px;
	width: 1180px;
	margin-left: 173px;
	background: rgba(147,206,222,1);
	background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(136,170,179,1) 14%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 87%, rgba(73,165,191,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(14%, rgba(136,170,179,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(87%, rgba(73,165,191,1)), color-stop(100%, rgba(73,165,191,1)));
	background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(136,170,179,1) 14%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 87%, rgba(73,165,191,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(136,170,179,1) 14%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 87%, rgba(73,165,191,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(136,170,179,1) 14%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 87%, rgba(73,165,191,1) 100%);
	background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(136,170,179,1) 14%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 87%, rgba(73,165,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
	
}

.aboutText{
	margin-top: 120px;
}

.aboutText > h1{
	color: #82DCA0;
	position: relative;
	text-align: center;
	font-family: 'Sirin Stencil', cursive;
	font-size: 200px;
	font-weight: 300;
}

.teens{
	color: #fff;
}

#caption{
	font-family: 'Lemonada', cursive;
	font-weight: semi-bold;
	font-stretch: normal;
}
/**Nav Header**/
navheader{
			position: fixed;
			height: 100%;
			display: inline-block;
			background-color: #000;
		}
		navheader > ul{
			height: 100%;
			color: #fff;
			margin-top: 40px;
		}

		navheader > ul >li{
			text-decoration: none;
			list-style-type: none;
			text-align: left;
			padding-right: 20px;
			padding-bottom: 5px;
		}

		navheader > ul > li > a{
			color: #fff;
			font-family: 'Noto Sans', sans-serif;

		}

		navheader > ul > li > a:hover{
			color: silver;
			font-family: 'Noto Sans', sans-serif;
			text-decoration: none;
		}


		#search-form{
			width: 20px;
			margin-top: 20px;
		}

		.fieldcontainer{
			width: 20px;
		}

		#query{
			width: 100px;
			color: grey;
			font-family: 'Noto Sans', sans-serif;
			border-style: solid;
			padding: 2px;
			background-color: #000;
			border-color: #fff;
		}

		#query:hover{
			width: 120px;
			font-family: 'Noto Sans', sans-serif;
			border-style: solid;
			padding: 5px;
		}
/**Section**/
		section{
			position: relative;
			left: 220px;
			/*width: 1150px;*/
			overflow: hidden;
		}
		h3{
			font-family: 'Roboto', sans-serif;
		}

		#blogContent{
			background-color: grey;
			padding: 30px;
		}

		.caption>p{
			font-family: 'Handlee', cursive;
			text-transform: lowercase;
		}

		/*footer {
			  position: absolute;
			  right: 0;
			  bottom: 0;
			  left: 0;
			  padding: 1rem;
			  background-color: #efefef;
			  text-align: center;	  
		}*/
/**footer**/
		#footer{
			background-color: #000;
			color: #fff;
			font-family: 'Noto Sans', sans-serif;
		}


		@media only screen and (max-width: 760px) {

	body{
		/*overflow-x: hidden;*/
	}

	#bodyContent{
		
	}
    navheader {
        
        display: none;
        overflow-x: hidden;
    }

    .navHeader{
    	
    }

    .aboutBody{
    	position: relative;
    	left: -180px;
    	width: 400px;
    	height: 250px;
    }

    .aboutText{
    	margin-top: 55px;
    }

    .aboutText > h1{
	color: #82DCA0;
	position: relative;
	text-align: center;
	font-family: 'Sirin Stencil', cursive;
	font-size: 30px;
	font-weight: 300;
}

.teens{
	color: #fff;
}

section{
	position: relative;
	left: 0px;
			/*width: 1150px;*/
	overflow: hidden;
		}

#notifyMe{
	display: initial;
	position: absolute;
	top: 20px;
	z-index: 2;
	background: #000;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	}

}
